* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  
  :root {
    --IRIS: #4d5ae5;
    --OCEAN: #404bbf;
    --NAVY-BLUE: #2e2f42;
    --SLATE: #434455;
    --LIGHT-SLATE: #8e8f99;
    --CORNFLOWER: #e7e9fc;
    --CLOUD: #f4f4fd;
    --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
    --GREY: rgba(46, 47, 66, 0.7);
    --WHITE: #fff;
    --DAIRY: #fcfcfc;
    --GREEN: #31d0aa;
  }
  /* general styles */
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  .list {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
  }
  .list h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }
  
  .list p {
    line-height: 1.5;
    letter-spacing: 0.32px;
    /* color: var(--SLATE); */
    font-size: 16px;
    font-weight: 400;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .center {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-bottom: 72px;
  }
  .section {
    padding: 120px 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .logo-web {
    color: var(--IRIS);
  }
  
  /* End of General styles */
  
  /* body */
  body {
    font-family: "roboto", sans serif;
    color: var(--NAVY-BLUE);
  }
  /*end of body */
  
  /* Main Header Section */
  .logo {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.31;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--IRIS);
  }
  
  .hdr {
    padding: 24px 0;
    border-bottom: 1px solid var(--CORNFLOWER);
    background-color: var(--WHITE);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  
  .hdr-logo {
    color: var(--NAVY-BLUE);
  }
  
  .hdr-container {
    display: flex;
    justify-content: space-between;
  }
  
  nav {
    display: flex;
    gap: 76px;
  }
  
  .hdr-list {
    display: flex;
    gap: 40px;
  }
  
  .hdr-list-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    position: relative;
    color: var(--NAVY-BLUE);
  }
  .hdr-active {
    color: var(--OCEAN);
  }
  
  .hdr-list-link::after {
    content: "";
    height: 4px;
    background: var(--OCEAN);
    position: absolute;
    left: 0;
    bottom: -27px;
    border-radius: 2px;
  }
  
  .hdr-list-link:hover::after {
    width: 100%;
  }
  
  .hdr-active::after {
    content: "";
    height: 4px;
    background-color: var(--OCEAN);
    position: absolute;
    left: 0;
    bottom: -27px;
    border-radius: 2px;
    width: 100%;
  }
  
  .contact-list {
    gap: 40px;
    display: inline-flex;
  }
  .contact {
    color: var(--SLATE);
  }
  
  .hdr-list-link:hover,
  .hdr-list-link:focus {
    color: var(--OCEAN);
  }
  
  .contact:hover,
  .contact:focus {
    color: var(--IRIS);
  }
  a:hover,
  a:focus {
    color: var(--IRIS);
  }
  
  /* End of Main Header Section */
  
  /*Hero section */
  
  .hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    margin-bottom: 48px;
    color: var(--WHITE);
  }
  
  .hero {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office.jpg);
    padding: 188px 0;
    background-repeat: round;
    text-align: center;
  }
  .hero .button {
    color: var(--WHITE);
    background-color: var(--IRIS);
    border: unset;
    border-radius: 4px;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    padding: 16px 32px;
    text-transform: capitalize;
    cursor: pointer;
  }
  .hero .button:hover,
  .hero .button:focus {
    background-color: var(--OCEAN);
  }
  /* MODAL */
  .backdrop {
    width: 100%;
    height: 100vh;
    background-color: var(--NAVY-BLUE-modal);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal {
    width: 408px;
    height: 584px;
    flex-shrink: 0;
    background-color: var(--WHITE);
    border-radius: 4px;
    padding: 24px;
    pointer-events: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  }
  
  .is-hidden {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  
  .modal-close-btn {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--CORNFLOWER);
    width: 30px;
    height: 30px;
    color: var(--OCEAN);
    margin-left: auto;
    display: block;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: var(--IRIS);
  }
  
  /* modal label */
  
  .modal-heading {
    text-align: center;
    color: var(--NAVY-BLUE);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
  }
  
  .service-label {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--LIGHT-SLATE);
    font-size: 12px;
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    width: 100%;
  }
  .input-label {
    text-align: left;
    margin-bottom: 4px;
  }
  
  .service-input {
    padding: 12px 40px;
    border: 1px solid var(--NAVY-BLUE-modal);
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .service-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 16px;
    top: 50%;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .service-input:focus + .service-icon,
  .service-input:hover + .service-icon {
    fill: var(--IRIS);
  }
  
  .service-input:hover,
  .service-input:focus {
    border: 1px solid var(--IRIS);
  }
  
  .service-form textarea {
    display: block;
    resize: vertical;
    margin-top: 4px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
    height: 120px;
  }
  
  .policy-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 16px;
    color: var(--LIGHT-SLATE);
    font-size: 12px;
    font-weight: 400;
    line-height: 2.17;
    letter-spacing: 0.48px;
    width: 360px;
    height: 16px;
  }
  
  .checkbox {
    position: relative;
    left: 20px;
    opacity: 0;
  }
  
  .checkbox-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    fill: none;
    stroke-width: 1px;
    border: 2px solid var(--NAVY-BLUE-modal);
    border-radius: 2px;
    transition: 250ms;
    transition-property: fill, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .policy-label .checkbox:focus + .checkbox-icon,
  .policy-label .checkbox:checked:focus + .checkbox-icon {
    outline: var(--NAVY-BLUE);
  }
  
  .policy-label .checkbox:checked + .checkbox-icon {
    background-color: var(--IRIS);
    border-color: var(--IRIS);
    fill: var(--WHITE);
    outline: none;
    stroke: var(--WHITE);
    stroke-width: 0.2;
  }
  
  .policy-link {
    color: var(--IRIS);
    text-decoration-line: underline;
    transition: 250ms;
    transition-property: fill, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .comment-textarea {
    color: var(--LIGHT-SLATE);
    font-family: "roboto", sans-serif;
  }
  
  .submit-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 24px;
    align-items: center;
    width: 100%;
  }
  
  .submit-btn {
    border-radius: 4px;
    background: var(--IRIS, #4d5ae5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    color: var(--WHITE, #fff);
    border-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .submit-btn:hover {
    background: var(--OCEAN);
    cursor: pointer;
  }
  
  .service-form textarea:hover,
  .service-form textarea:focus {
    border-color: var(--IRIS);
    outline: 0;
  }
  
  /* end of modal */
  
  /* end of  Hero section */
  
  /* advance section */
  .adv-section {
    padding-top: 120px;
  }
  .adv-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .adv-item {
    display: inline-block;
  }
  
  .adv-icon {
    width: 264px;
    /* height: 112px; */
    padding: 24px 0;
    margin-bottom: 8px;
    background-color: var(--CLOUD);
    border-radius: 4px;
    height: 64px;
  }
  
  /* .adv-icon-list {
    width: 64px;
    height: 64px;
  } */
  
  /* end of advance section */
  
  /* What are we doing Section */
  /* no styling */
  /* end of What are we doing Section */
  
  /* Our team section */
  
  .our-team-section {
    background-color: var(--CLOUD);
    text-align: center;
  }
  
  .our-team-img {
    display: block;
    width: 100%;
  }
  
  .our-team-item {
    align-items: center;
    background-color: var(--WHITE);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .socmed-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 8px 0px 32px 0px;
    width: 100%;
  }
  
  .our-team-link {
    border-radius: 50%;
    background-color: var(--IRIS);
    padding: 12px;
    display: flex;
  }
  
  .our-team-socmed {
    display: flex;
    justify-content: center;
    color: var(--CLOUD);
    width: 16px;
    height: 16px;
  }
  
  .our-team-link:hover,
  .our-team-link:focus {
    background-color: var(--GREEN);
  }
  /* end of Our team section */
  
  /* Customer Section */
  .cs-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  
  }
  
  .cs-item {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      flex-basis: (100% / 2 - 30px);
  }
  
  .cs-link {
    display: flex;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    color: var(--LIGHT-SLATE);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .cs-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
  }
  
  .cs-link:hover,
  .cs-link:focus {
    border-color: var(--IRIS);
    color: var(--IRIS);
  }
  
  /* End of Customer Section */
  
  /* footer */
  
  .footer {
    color: var(--CLOUD);
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: var(--NAVY-BLUE);
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .footer-inner {
    display: flex;
    justify-content: space-between;
    row-gap: 72px;
    flex-wrap: wrap;
  }
  
  
  .footer-logo {
    color: var(--CLOUD);
    padding-top: 101.5px;
  }
  .footer-text {
    color: var(--CLOUD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-top: 17.5px;
    padding-bottom: 100px;
  }
  
  .footer-socmed-title {
    font-size: 16px;
    margin-bottom: 16px;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  
  .footer-socmed-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
  }
  
  .footer-socmed-link {
    display: flex;
    background-color: var(--IRIS);
    border-radius: 50%;
    padding: 8px;
    align-items: center;
    fill: currentColor;
  }
  
  .footer-socmed-icon {
    width: 24px;
    height: 24px;
  }
  
  .footer-socmed-link:hover,
  .footer-socmed-link:focus {
    background-color: var(--GREEN);
  }
  
  .ftr-sub-input {
    outline: 1px solid var(--WHITE);
    background: none;
    border-radius: 4px;
    padding: 10px;
    width: -webkit-fill-available;
    border-style: none;
    background-color: none;
    flex-shrink: 0;
    margin-right: 16px;
    position: relative;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  
  .ftr-sub-input::placeholder {
    color: var(--WHITE);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
    padding-left: 16px;
  }
  
  .sub-icon {
    width: 24px;
    height: 24px;
  }
  
  .sub-btn {
    fill: var(--WHITE);
    color: var(--WHITE);
    background-color: var(--IRIS);
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    position: absolute;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 16px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    margin-top: 12px;
  }
  
  .sub-btn:hover,
  .sub-btn:focus {
    background-color: var(--OCEAN);
    cursor: pointer;
  }
  
  .ftr-sub-input:hover,
  .ftr-sub-input:focus {
    outline-color: var(--IRIS);
    color: var(--WHITE);
  }
  
  /* end of footer */
  
  /* portfolio.html */
  .portfolio-btn {
    padding: 96px 0px 72px 0px;
  }
  .btn-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  
  .portfolio-btn-item {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    cursor: pointer;
    background-color: var(--CLOUD);
    color: var(--IRIS);
    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #e7e9fc);
    padding: 12px 24px;
  }
  
  .portfolio-btn-item.active {
    line-height: 1.5;
    color: var(--WHITE);
    background: var(--OCEAN, #404bbf);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .portfolio-btn-item:hover,
  .portfolio-btn-item:focus {
    background-color: var(--OCEAN);
    color: var(--WHITE);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
  /* Portfolio image section */
  
  .portfolio-img-section {
    padding-bottom: 120px;
  }
  
  .img-list {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  
  .img-list-item {
    display: inline-block;
    border: 1px solid var(--CORNFLOWER);
    background-color: var(--WHITE);
    overflow: hidden;
  }
  
  .img-content {
    padding: 32px 16px;
  }
  
  .img-list-item:hover,
  .img-list-item:focus {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .portfolio-img {
    display: block;
  }
  
  .project-img {
    position: relative;
    overflow: hidden;
  }
  
  .img-caption {
    position: absolute;
    background-color: rgba(77, 90, 229, 1);
    color: var(--WHITE);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .img-list-item:hover .img-caption,
  .img-list-item:focus .img-caption {
    opacity: 1;
    transform: translate(0);
  }
  
  .img-discription {
    padding: 40px 32px;
  }
  
  /* end of Portfolio image section */
  
  /* end of portfolio.html */
  
  /* MEDIA QUERIE */
  
  @media (min-width: 428px) {
    .container {
      width: 428px;
    }
  
   
  }
  
  @media (min-width: 768px) {
    .container {
      width: 768px;
    }
  
    .adv-item,
    .our-team-item {
      flex-basis: calc(100% / 2 - 30px);
    }
  
    .cs-item {
      flex-basis: calc(100% /3 - 30px);
    }
  
    .footer {
      text-align: center;
    }
  
  }
  
  
  
  @media (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  
    .adv-item,
    .our-team-item {
      flex-basis: calc(100% / 4 - 30px);
    }
  
    .cs-item {
      flex-basis: 100% / 6 - 30px;
    }
  
    .ftr-sub-input {
      width: 264px;
      margin-right: 24px;
    }
  }
  
  
  @media (max-width: 767px) {
    .footer-inner {
    justify-content: center;
    }
  }
  
  
  
  
  